torch==2.1.0
torchvision==0.16.0
transformers==4.35.0
timm==0.9.8
open-clip-torch==2.23.0
opencv-python-headless==4.8.1.78
scikit-image==0.22.0
scipy==1.11.4
gradio==4.8.0
reportlab==4.0.7
numpy==1.24.4
gTTS==2.4.0
torchxrayvision==1.0.1
Pillow==10.1.0
pymongo==4.6.1
dnspython==2.4.2
python-dotenv==1.0.0
